<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Titulo</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus earum vero debitis corrupti, veritatis numquam deserunt neque tempora totam est culpa sapiente cupiditate illo explicabo ipsa provident voluptates incidunt nulla.
            </p>
        </div>
        <div class="col-4">
            <img class="img-thumbnail" src="assets/images/banner1.svg" " alt="#">
        </div>
    </div>

    {{> footer}}

    {{> scripts}}
</body>

</html>